<div class="bg-secondary">
    <br><br>
    <div class="container ">

        <div class="col-xl-6 col-lg-6  col-md-6  col-sm-6 col-6">

            <h4>
                <span class="text-warning">Regalenos 5 minutos de su tiempo para contestar algunas preguntas</span>

            </h4>
            <div class="card text-black">
                <div class="card-header">
                    <h4>¡Escuchar, para mejorar!</h4>
                </div>
                <div class="card-body">
                    <form id="miForm" autocomplete="off">
                        <label>Nombres y Apellidos</label>
                        <input type="text" class="form-control" id=txtNombre placeholder="Digite su Nombre">
                        <label>¿Ha tenido problemas con alguno de nuestros servicios?</label>
                        <select name="salones" class="form-select" size="1" id="selectSalon">
                            <option value="0">Selecione una opción</option>
                            <option value="Meseros">Meseros</option>
                            <option value="Staff de eventos">Staff de eventos</option>
                            <option value="Comidas y bebidas">Comidas y bebidas</option>
                            <option value="Atención al cliente">Atención al cliente</option>
                            <option value="Salones">Salones</option>
                        </select>
                        <label>Fecha de su problema</label><br>
                        <input type="date">
                        <input type="text" style="height: 90px;" class="form-control align-text-left  " id=txtProblema
                            placeholder="Digite brevemente la descripción de los hechos">
                        <br>
                        <button type="button" id="btnagregar" class="btn btn-primary">Agregar</button>
                        <button type="button" id="btneditar" class="btn btn-warning">Editar</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <img src="../../../assets/img/wave.svg">

</div>