<div id="formAyuda">
    <div class="card ">
        <div class="card-header">
            <h4>Ingrese los datos correspondientes</h4>
        </div>
        <div class="card-body">
            <form [formGroup]="miForm">
                <div id="datosRecuperados">
                    <label>
                        <h6>¡Datos de usuario recuperados!</h6>
                    </label>
                </div>

                <label>Nombre</label>
                <input type="text" class="form-control" formControlName=txtNombre placeholder="Digite su Nombre">
                <label>Apellido</label>
                <input type="text" class="form-control" formControlName=txtApellido placeholder="Digite su Apellido">
                <label>Correo</label>
                <input type="text" class="form-control" formControlName=txtCorreo placeholder="Digite su Correo">
                <label>Telefono</label>
                <input type="text" class="form-control" formControlName=txtTelefono placeholder="Digite su Telefono">
                <label>Generoㅤㅤ</label>
                <input type="radio" formControlName="hombre">Masculino
                <input type="radio" formControlName="mujer" value="true">Femenino<br>
                <label>Descripción de su problema</label>
                <textarea rows="5" type="text" class="form-control" formControlName=txtProblema
                    placeholder="Digite brevemente la descripción de su problema"></textarea>
                <!-- <div>
                <textarea formControlName="comentarios" rows="5" cols="30">Escribe aquí tus comentarios</textarea>
                </div> -->
            </form>
        </div>
        <div class="card-footer"> NOTA: La respuesta puede tomar 2 días hábiles</div>
        <div class="row">
            <div class="col-6 text-center">
                <button type="button" formControlName="btnEnviarContact" class="btn btn-warning"
                    (click)="enviarInfo(miForm.value)">Enviar</button>
            </div>
            <div class="col-6 text-center">
                <button type="button" formControlName="btnEditarContact" class="btn btn-primary"
                    (click)="actualizarInfoContact(miForm.value)">Editar</button>
            </div>
        </div>
    </div>



</div>

<div *ngIf="mostrarTabla">

    <br><br>
    <div id="cuadro">
        <br><br>
        <div id="datosRecuperados" style="display: none;"><label>
                <h5>¡Datos de usuario recuperados!</h5>
            </label></div>
        <table class="table table-hover" id="mitabla">
            <thead class="table-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col" class="text-center">Correo</th>
                    <th scope="col">Telefono</th>
                    <th scope="col" class="text-center">Problema</th>
                    <th scope="col" class="text-center">Opcion</th>
                </tr>
            </thead>
            <tbody >
                <tr>

                    <td> 1</td>
                    <td *ngFor="let holi of array ">{{holi}}</td>
                    

                    <td>
                        <button type="button" class="btn btn-outline-warning" style="margin-right: 20px;">Edit</button>
                        <button type="button" class="btn btn-outline-danger">Delete</button>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>

</div>