<!--Barra de navegacion-->
<style>
    .vh-50 {
        height: 20vmin;

    }
</style>

<div class="bg-secondary">
    <div class="container">
        <nav class="row text-white justify-content-between align-items-center text-uppercase pt-4">
        
            <!--Logo-->
            <a href="#" class="col-auto text-reset text-decoration-none">
                <img src="../../../assets/img/logo.png" width="40px"/>
                EventPlus
        
            </a>
            <div class="col-auto">
        
                <a href="#" class="text-reset pr-3 text-decoration-none">Home</a>&nbsp;
                <a href="#" class="text-reset pr-3 text-decoration-none">Salones</a>&nbsp;
                <a href="#" class="text-reset pr-3 text-decoration-none">Alquiler</a>&nbsp;
                <a href="#" class="text-reset text-decoration-none">Contacto</a>
        
            </div>
        
        </nav>
    </div>
</div>
    