<div class="bg-secondary">
    <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-6  text-white">
                    <!--Titulo-->
                    <br>
                    <h3>
                        <span class="text-warning h2">A la vanguardia</span> EN EVENTOS
                    </h3>
                    <!--Parrafo-->
                    <p>Estamos agradecidos por tu visita a EventPlus. Somos una empresa profesional y responsable, al
                        mismo tiempo en que nuestros productos se manejan con una muy buena calidad y el mayor cuidado
                        para ustedes. Nuestros servicios son de una óptima calidad y le brindamos una agradable
                        experiencia... </p>
        
                    <!--Boton-->
                    <a href="#" class="text-reset btn btn-warning">Nuestos salones</a>
        
                </div>
        
            </div>
        </div>
    
    <img src="img/wave.svg">
</div>

<!-------------------------------------------------------------------------------------------------------------->

<div class="container">
    <div class="row">
        <div class="col12 text-center">
            <h2 class="text-warning text-uppercase h6">Detalles</h2>
            <h3>A La Vanguardia EN EVENTOS</h3>
            <p>Deja que nos encarguemos de todo lo relacionado con sus eventos. Ofrecemos el alquiler de salones de
                fiesta como casas de banquetes, clubes y hoteles, según lo prefiera, para su mayor
                comodidad.Contamos con servicios recreativos para esos momentos especiales...</p>
        </div>
    </div>
    <!-------------------------------------------------------------------------------------------------------------->
    
    <!--TArjetas-->
    <!--Tarjeta #1-->

    <div>
        <div class="row">
            <div class="col-xl-4 col-lg-4  col-md-4  col-sm-4 col-4">
                <div class="card">
                    <img src="img/Salones.jpg" />
                    <!--Contenedor texto en imagen-->
                    <div class="card-body">
                        <h4 class="card-title">Nuestros Salones</h4>
                        <br>
                        <p class="card-text">Salones diseñaos para cada tipo de cliente, evento y necesidad.</p>
                        <a href="./html/salones.html" class="text-reset">Ver más</a>
                    </div>
                </div>




            </div>
            <div class="col-xl-4 col-lg-4  col-md-4  col-sm-4 col-4">
                <div class="card">
                    <img src="img/Ofertas.jpg" />
                    <!--Contenedor texto en imagen-->
                    <div class="card-body">
                        <h4 class="card-title">Ofertas y combos</h4>
                        <br>
                        <p class="card-text">Pensamos en usted, por eso disponemos de ofertas para su comodidad.</p>
                        <a href="./html/offers.html" class="text-reset">Ver más</a>
                    </div>
                </div>



            </div>
            <div class="col-xl-4 col-lg-4  col-md-4  col-sm-4 col-4">
                <div class="card">

                    <img src="img/contact.jpg" />
                    <!--Contenedor texto en imagen-->
                    <div class="card-body">
                        <h4 class="card-title">Contacta nuestros asesores</h4>
                        <br>
                        <div>
                            <p class="card-text">¿Tienes alguna inquietud? Contacta con nuestros asesores.</p>
                            <a href="./html/contact.html" class="text-reset">Ver más</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        
    </div>
</div>
<br><br>