<style>
  .card-filter {
    filter: brightness(0.6);

  }
</style>

<div class="bg-secondary">
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-6  text-white">
        <!--Titulo-->
        <br>
        <h3>
          <span class="text-warning h2">A la vanguardia</span> EN EVENTOS
        </h3>
        <!--Parrafo-->
        <p>Estamos agradecidos por tu visita a EventPlus. Somos una empresa profesional y responsable, al
          mismo tiempo en que nuestros productos se manejan con una muy buena calidad y el mayor cuidado
          para ustedes. Nuestros servicios son de una óptima calidad y le brindamos una agradable
          experiencia... </p>

        <!--Boton-->
        <a href="#" class="text-reset btn btn-warning">Nuestos salones</a>

      </div>

    </div>
  </div>

  <img src="../../../assets/img/wave.svg">
</div>


<div class="container">
  <div class="row">
    <div class="col-xl-12 col-lg-12  col-md-12  col-sm-12 col-12  text-center">
      <h3 class="text-warning text-uppercase h6">Sección salones.</h3>
      <h2 class="text-capitalize">Selecciona uno a tu medida.</h2>
      <br>
    </div>
    <div class="col-xl-12 col-lg-12  col-md-12  col-sm-12 col-12">

      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100 card-filter" src="../../../assets/img/salon1.jpg " alt="First slide" width="400"
              height="500">
            <div class="carousel-caption d-none d-xl-block d-lg-block d-md-block d-md-block d-sm-block">
              <h5>Salón Medallón de Oro</h5>
              <p>Muy elegante, una buena opción para bodas

              </p>
              <h6>
                <br>Calle 26 #55-38
              </h6>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 card-filter" src="../../../assets/img/salon2.jpg " alt="Second slide" width="400"
              height="500">
            <div class="carousel-caption d-none d-xl-block d-lg-block d-md-block d-md-block d-sm-block">
              <h5>Salón Piedas del infinito</h5>
              <p>Una opción elegante, una gran alternativa economica

              </p>
              <h6>
                <br>Calle 30 esquina 2
              </h6>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 card-filter" src="../../../assets/img/salon3.jpg " alt="Third slide" width="400"
              height="500">
            <div class="carousel-caption d-none d-xl-block d-lg-block d-md-block d-md-block d-sm-block">
              <h5> Salón Caliz de la inmensidad</h5>
              <p>Ideal para esas fiestas con las mejores de tus noches alocadas

              </p>
              <h6>
                <br>Avenida Primero de Mayo
              </h6>
            </div>

          </div>
          <div class="carousel-item">
            <img class="d-block w-100 card-filter" src="../../../assets/img/salon4.jpg " alt="Second slide" width="400"
              height="500">
            <div class="carousel-caption d-none d-xl-block d-lg-block d-md-block d-md-block d-sm-block">
              <h5>Salón agua de mar</h5>
              <p>Ideal para eventos grandes donde hayan más de 100 personas

              </p>
              <h6>
                <br>Calle 26 con carrera 32
              </h6>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 card-filter" src="../../../assets/img/salon5.jpg " alt="Third slide" width="400"
              height="500">
            <div class="carousel-caption d-none d-xl-block d-lg-block d-md-block d-md-block d-sm-block">
              <h5>Salón Malecón</h5>
              <p>Lujoso y moderno, simplemente una maravilla

              </p>
              <h6>
                <br> Vía 40
              </h6>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 card-filter" src="../../../assets/img/salon6.jpg " alt="Second slide" width="400"
              height="500">
            <div class="carousel-caption d-none d-xl-block d-lg-block d-md-block d-md-block d-sm-block">
              <h5>Salón Diskotek</h5>
              <p>El más ideal para reuniones de socios, compañeros y juntas

              </p>
              <h6>
                <br>Calle 80 #75-83
              </h6>
            </div>
          </div>


          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </a>
        </div>

      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6  col-sm-6 col-6 text-center">
      <h4 class="text-secondary">Demostración de uno de nuestros mejores salones <br>
      </h4>

      <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/Hm2HJW3OF8k"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
    </div>

    <div class="col-xl-6 col-lg-6 col-md-6  col-sm-6 col-6 text-center">
      <h4>
        <span class="text-secondary">¡Usa nuestro mapa interactivo para ver las ubicaciones!</span><br>

      </h4>
      <iframe class="embed-responsive-item"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3917.0273551506825!2d-74.79546698588217!3d10.96129745875302!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef42d521db77b35%3A0x3c0aaba7a24e1de3!2sCl.%2045%2C%20Barranquilla%2C%20Atl%C3%A1ntico!5e0!3m2!1ses-419!2sco!4v1632507272661!5m2!1ses-419!2sco"
        width="560" height="315" style="border:0;" allowfullscreen="" loading="lazy">
      </iframe>
    </div>
  </div>
  <br>
  <br>
  <br>

  <h3>
    <span class="text-warning h2">¿Interesado en alguno?</span>

  </h3>
  <p>Echale un vistazo a nuestra tabla de precios <a routerLink="/alquiler">AQUI</a></p>
</div>